/* crystal.css */
.page-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 2rem;
}

.blurred-robot {
    filter: blur(4px) brightness(70%);
}

.image-container img {
    height: 100vh;
    margin-top: 20px;
    display: block;
    border-radius: 8px;
    /* filter: sepia(1) saturate(2) hue-rotate(344deg) !important; */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 80%);

}

.crystal-text-overlay {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50vw;
    z-index: 2;
}

.title-big {
    font-size: 7rem;
    color: rgb(166, 166, 166);
    letter-spacing: 6px;
    /* text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.2); */
}

.title2 {
    font-size: 4rem;
    margin-top: 0.5rem;
}

.crystal-subtitle{
    position: absolute;
    z-index: 100;
    top: 35vh;
    left: 50vw;
    transform: translateX(-50%) !important;
    font-size: 1.2rem;
    width: 500px;
    text-align: center;
    color: rgba(183, 183, 183, 0.676);
}

.description {
    font-size: 1.2rem;
    font-family: var(--font-roboto);
    color: var(--mid-gray);
    margin-top: 2rem;
}

.lead-info {
    position: absolute;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 100px 50px;
    border-radius: 100px;
    top: 60vh;
}

.lead-image {
    width: 60vw;
}